@import "tailwindcss";

:root {
  --background: #020617;
  /* near-black navy */
  --foreground: #e5e7eb;
  /* light gray */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background: #020617;
  /* dark navy */
  color: #e5e7eb;
  overflow-x: hidden;
}